*.yaml
*.docx
*.aux
*.fdb_latexmk
*.log
*.fls
*.synctex.gz
reports/wrangle.aux
reports/wrangle.log
reports/wrangle.synctex.gz
reports/wrangle.log
reports/wrangle.aux
reports/wrangle.aux
reports/wrangle.log
reports/wrangle.synctex.gz
dog_pics/*.jpg
.ipynb_checkpoints/wrangle_act-checkpoint.ipynb
/.vscode/